/* Importing a CSS reset to ensure consistency across browsers */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* Importing Google Fonts for use in the document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Applying smooth font rendering and box-sizing rules to all elements */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* Setting margin and height for the html and body elements */
html,
body {
  margin: 0px;
  height: 100%;
}

/* Custom focus style for buttons to improve accessibility */
button:focus-visible {
  outline: 2px solid #a6a6a6 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

/* Removing the default underline from anchor tags */
a {
  text-decoration: none;
}